body{
   margin: 0px;
   padding: 0px;
}
header{
   margin-top: 0px;
   background-color: rgb(49, 45, 45);
   position: fixed;
   width: 100%;
   z-index: 10;
}
nav{
   margin: 0px;
}
nav li{
   color: white;
   font-weight: 600;
   font-size: 12px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   display: inline-block;
   width: 80px;
}
main{
   
   width: 1280;
   height: 1920;
   text-align: center;
   position: relative;
   top: 100px;
   
}
.main_container{
   background-image: url(https://www.mmarchitecturalphotography.com/chicago-architectural-photographer/uploads/2018/06/300-north-lasalle-chicago.jpg);
   /* background-size: cover; */
   min-height: 800px;
}
.main_container h1, a{
   color: white;
   text-decoration: none;
}
h1{
   font-size: 2.4em;
}